#main{
    .container{
        .header{
            padding:5px 10px;
            line-height: 36px;
            color: #999999;
            font-size:12px;
            a{color:#999;font-size:12px;margin-right:5px;}
            span{margin-right:5px;}
        }
        .step{
            margin-bottom:40px;
            background-color:#D0D0D0;
            position:relative;
            li{ 
                position:relative;
                float:left;
                width:140px;
                line-height:40px;
                font-size:14px;
                color:#747474;
                font-weight:bold;
                height:40px;
                margin-right:20px;
                vertical-align:middle;
                span{
                    font-size:18px;
                    vertical-align:top;
                    padding:0 5px 0 10px;
                }
                i{position:absolute;display:block;width: 0;border:20px solid transparent;}
                .minT{
                    right:-44px;top:-5px;border-left-color:#fff;border-width:25px;
                }
                .maxT{
                    right:-33px;top:0px;border-left-color:#D0D0D0;
                }
                .change{border-left-color:#B8596F;}
            }
            .active{color:#fff;background-color:#B8596F;}
            img{position:absolute;display:block;height: 50px;right:30px;top:-10px;}
        }
        .main{}
    }
}