#header{
    .h_top{
        img{width: 100%;}
    }
    .h_center{
        border-bottom: 1px solid #EEEEEE;
        line-height: 30px;
        height: 30px;
        background-color:#F7F7F7;
        .container{
            .c_left{}
            .c_right{
                ul{
                    li{
                        float:left;
                        a{border-right:1px solid #bebfc1;padding:0 5px;}
                    }
                    li:last-child{
                        a{border-right:0 none;}
                    }
                    .none{display:none;}
                }
            }
            a{font-size:12px;color:#666;}
        }
    }
    .h_bottom{
        height: 95px;
        .b_left{clear:left;}
        .b_right{
            padding-top:30px;
            .left{
                font-size:0;
                .input{height: 36px;border:1px solid #000;width: 328px;padding-left:10px;color:#515151;font-size:12px;}
                .btn{height: 38px;background-color:#000;color:#fff;width: 100px;font-weight:bold;font-size:16px;cursor:pointer;}
            }
            .right{
                width: 80px;height: 38px;position:relative;
                i{display:block;position:absolute;right:0px;top:-1px;cursor:pointer;}
                span{position:absolute;right:11px;top:-1px;color:#fff;}
            }
        }
    }
}

#nav{
    background-color:#3a3a3a; 
    position:relative; 
    .container{
        ul{
            display:flex;
            height: 38px;
            li{
                flex:1;
                text-align:center;
                line-height:38px;
                a{color:#fff;font-size:14px;display:block;}
            }
            li:hover{
                background-color:#fff;
                a{color:#3a3a3a;}
            }
        }
    }
    .list{
        position:absolute;
        left:40px;
        top:40px;
        width:220px;
        box-sizing:border-box;
        padding:10px 20px;
        background-color:#fff;
        z-index:100;
        h3{
            height: 75px;
            line-height: 75px;
            border-bottom: solid 1px #CCCCCC;
            font-size: 28px;
        }
        ul{
            .item1{
                border-bottom:1px solid #cccccc;
                padding:5px 0;
                .item2{
                    font-size:14px;
                    line-height:28px;
                    font-weight:bold;
                    a{color:#666;}
                }
            }
        }
    }
}

#footer{
    border-top:1px solid #cccccc;
    background-color:#F6F6F6;
    .container{
        .top{
            padding-top:10px;
            padding-bottom:30px;
            border-bottom:1px solid #cccccc;
            .left{
                float:left;
                dl{
                    float:left;
                    height: 160px;
                    width: 168px;
                    list-style:none;
                    border-left: 1px dashed #CCCCCC;
                    dt{
                        color: #999999;
                        font-family: 微软雅黑;
                        font-size: 16px;
                        font-weight: bold;
                        text-align:center;
                        line-height:30px;            
                    }
                    dd{
                        height: 26px;
                        line-height: 26px;
                        font-size:12px;
                        text-align:center;
                        a{color:#666;}
                    }
                }
                dl:last-child{border-right:1px dashed #cccccc;}
            }
            .right{
                float:left;
                li{ 
                    padding-left:50px;
                    width: 230px;
                    list-style:none;
                    position:relative;
                    height:168px;
                    h3{
                        color: #999999;
                        font-family: 微软雅黑;
                        font-size: 16px;
                        font-weight: bold;
                        line-height:30px;
                        display:block;
                        position:relative;
                        i{display:block;position:absolute;right:25px;top:-3px;}  
                    }
                    
                    span{color:red;font-size:18px;display:block;line-height:30px;}
                    p{font-size:12px;line-height:30px;}

                    .erweima{
                        position:absolute;
                        left:0px;bottom:0px;
                        img{width: 80px;height: 80px;}
                    }
                    .cert{
                        position:absolute;
                        right:30px;bottom:25px;
                    }
                }
            }
        }
        .bottom{
            padding:10px;
            span{
                font-size:12px;
            }
            a{
                display:inline-block;
                word-space:nowrap;
                font-size:12px;
                line-height:20px;
                margin:0 10px;
            }
        }
    }
}