#main{
    .container{
        .header{
            padding:5px 10px;
            line-height: 36px;
            color: #999999;
            font-size:12px;
            a{color:#999;font-size:12px;margin-right:5px;}
            span{margin-right:5px;}
            a:hover{color:orange;}
            span:hover{color:orange;}
        }
        .selected{
            background-color:#FAFAFA;
            border:1px solid #E5E5E5;
            padding:5px 10px;
            margin-bottom:10px;
            li{
                border-bottom:1px dashed #DDDDDD;
                padding:0 0 0 30px;
                font-size:12px;line-height:30px;
                .left{color:#000;font-weight:bold;}
                .right{
                    width:850px;
                    color:#5D89CA;
                    span{padding:5px 10px;}
                    .p_left{span{font-weight:bold;}}
                    .p_right{
                        width:780px;
                        span{margin-right:50px;white-space:nowrap;cursor:pointer;padding:5px 10px;}    
                    }
                    span:hover{text-decoration:underline;}
                    .active{color:#fff;background-color:red;}
                }
            }
        }
        .show{
            min-height: 200px;
            border: 1px solid #e1e1e1;
            border-top: 1px solid #A21F24;
            .top{
                .nav{
                    li{
                        float:left;
                        width: 100px;
                        list-style:none;
                        border-right:1px solid #e1e1e1;
                        line-height:30px;
                        text-align:center;
                        color: #343434;
                        font-size:14px;
                        cursor:pointer;
                    }
                    .active{
                        border-bottom: 1px solid #fff;
                        margin-bottom: -1px;
                        color:#990000;
                    }
                }
            }
            .goodLists{
                border-top:1px solid #e1e1e1;
                min-height:200px;
                padding:5px;
                li{
                    float:left;
                    width:240px;
                    height:350px;
                    font-size:12px;
                    margin: 0 2px;
                    box-sizing:border-box;
                    border:1px solid #fff;
                    img{
                        display:block;
                        width: 230px;
                        margin: 5px auto;
                    }
                    p{
                        color: #4D4D4D;
                        .price{
                            color: #990000;
                            font-size:14px;
                        }
                        .counts{
                            float:right;
                            color:#999999;
                            padding-right:10px;
                        }
                    }
                    p:nth-of-type(1){
                        height: 45px;
                        margin-bottom:15px;
                        letter-spacing:1px;
                    }
                }
                .active{background-color:#F4F4F4;border-color:#cccccc;}
            }
        }
        #page{
            text-align:center;
            span{
                display:inline-block;
                width:30px;
                height:30px;
                line-height:30px;
                font-size:14px;
                text-align:center;
                border:1px solid #ccc;
                margin:0 5px;
            }
            .active{background:orange;}
        }
    }
}