#header{
    .container{
        border-bottom: 2px solid #DC5751;
        .left{}
        .right{
            padding-top:40px;
            ul{
                li{
                    float:left;
                    a{
                        display:block;
                        font-size:12px;
                        height:12px;
                        line-height:12px;
                        padding:0 10px;
                        color:#666666;
                        border-right:1px solid #666666;
                    }
                }
                li:last-child a{border-right:0 none;}
            }
        }
    }
}

#main{
    .container{
        .nav{
            color:#999999;
            line-height:30px;
            height:30px;
            font-size:12px;
            margin-bottom:20px;
            a{
                font-size:12px;
                color:#999999;
            }
        }
        .cont{
            padding:20px 20px;
            .left{
                width: 400px;
                height:588px;
                background:url("../img/login.png") no-repeat;
                background-size:cover;
            }
            .right{
                width:450px;
                padding:20px 30px 0;
                .group{
                    margin-bottom:10px;
                    position:relative;
                    label{
                        display:inline-block;
                        font-size:12px;
                        width:60px;
                        line-height:40px;
                        text-align:left;
                        padding-right:10px;
                       
                    }
                    input{
                        display:inline-block;
                        border:1px solid #B3B3B3;
                        height: 30px;
                        border-radius:5px 5px;
                        box-shadow:1px 1px 5px 0 #ccc, -1px -1px 5px 0 #ccc;
                        width:320px;
                        font-size:14px;
                    }
                    .status{position:absolute;left:330px;top:50px;color:red;width: 200px;font-size:12px;}
                    .active{color:#58bc58;}
                }
                .group:nth-child(3){
                    input{
                        width:260px;
                    }
                    span{
                        display:inline-block;
                        width: 60px;
                        height: 30px;
                        text-align:center;
                        line-height:30px;
                        background-color:#ccc;
                        vertical-align: middle;
                    }
                }
                .bottom{
                    font-size:12px;
                    a{
                        font-size:12px;
                        color:#C9570C;
                    }
                    p{margin:10px 0;}
                    p:nth-child(2){
                        margin:40px 0;
                        button{
                            display:inline-block;
                            background-color:#58bc58;
                            color:#fff;
                            width: 140px;
                            height: 40px;
                            border-radius:5px 5px ;
                            box-shadow:2px 2px 5px 0 #ccc;
                            margin-right:5px;
                        }
                    }
                }
            }
        }
    }
}