@charset "UTF-8";
#header .h_top img {
  width: 100%;
}

#header .h_center {
  border-bottom: 1px solid #EEEEEE;
  line-height: 30px;
  height: 30px;
  background-color: #F7F7F7;
}

#header .h_center .container .c_right ul li {
  float: left;
}

#header .h_center .container .c_right ul li a {
  border-right: 1px solid #bebfc1;
  padding: 0 5px;
}

#header .h_center .container .c_right ul li:last-child a {
  border-right: 0 none;
}

#header .h_center .container a {
  font-size: 12px;
  color: #666;
}

#header .h_bottom {
  height: 95px;
}

#header .h_bottom .b_left {
  clear: left;
}

#header .h_bottom .b_right {
  padding-top: 30px;
}

#header .h_bottom .b_right .left {
  font-size: 0;
}

#header .h_bottom .b_right .left .input {
  height: 36px;
  border: 1px solid #000;
  width: 328px;
  padding-left: 10px;
  color: #515151;
  font-size: 12px;
}

#header .h_bottom .b_right .left .btn {
  height: 38px;
  background-color: #000;
  color: #fff;
  width: 100px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

#header .h_bottom .b_right .right {
  width: 80px;
  height: 38px;
  position: relative;
}

#header .h_bottom .b_right .right i {
  display: block;
  position: absolute;
  right: 0px;
  top: -1px;
}

#header .h_bottom .b_right .right span {
  position: absolute;
  right: 11px;
  top: -1px;
  color: #fff;
}

#nav {
  background-color: #3a3a3a;
  position: relative;
}

#nav .container ul {
  display: flex;
  height: 38px;
}

#nav .container ul li {
  flex: 1;
  text-align: center;
  line-height: 38px;
}

#nav .container ul li a {
  color: #fff;
  font-size: 14px;
  display: block;
}

#nav .container ul li:hover {
  background-color: #fff;
}

#nav .container ul li:hover a {
  color: #3a3a3a;
}

#nav .list {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 220px;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: #fff;
  z-index: 100;
}

#nav .list h3 {
  height: 75px;
  line-height: 75px;
  border-bottom: solid 1px #CCCCCC;
  font-size: 28px;
}

#nav .list ul .item1 {
  border-bottom: 1px solid #cccccc;
  padding: 5px 0;
}

#nav .list ul .item1 .item2 {
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
}

#nav .list ul .item1 .item2 a {
  color: #666;
}

#footer {
  background-color: #F6F6F6;
}

#footer .container .top {
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cccccc;
}

#footer .container .top .left {
  float: left;
}

#footer .container .top .left dl {
  float: left;
  height: 160px;
  width: 168px;
  list-style: none;
  border-left: 1px dashed #CCCCCC;
}

#footer .container .top .left dl dt {
  color: #999999;
  font-family: 微软雅黑;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}

#footer .container .top .left dl dd {
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  text-align: center;
}

#footer .container .top .left dl dd a {
  color: #666;
}

#footer .container .top .left dl:last-child {
  border-right: 1px dashed #cccccc;
}

#footer .container .top .right {
  float: left;
}

#footer .container .top .right li {
  padding-left: 50px;
  width: 230px;
  list-style: none;
  position: relative;
  height: 168px;
}

#footer .container .top .right li h3 {
  color: #999999;
  font-family: 微软雅黑;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  display: block;
  position: relative;
}

#footer .container .top .right li h3 i {
  display: block;
  position: absolute;
  right: 25px;
  top: -3px;
}

#footer .container .top .right li span {
  color: red;
  font-size: 18px;
  display: block;
  line-height: 30px;
}

#footer .container .top .right li p {
  font-size: 12px;
  line-height: 30px;
}

#footer .container .top .right li .erweima {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#footer .container .top .right li .erweima img {
  width: 80px;
  height: 80px;
}

#footer .container .top .right li .cert {
  position: absolute;
  right: 30px;
  bottom: 25px;
}

#footer .container .bottom {
  padding: 10px;
}

#footer .container .bottom span {
  font-size: 12px;
}

#footer .container .bottom a {
  display: inline-block;
  word-space: nowrap;
  font-size: 12px;
  line-height: 20px;
  margin: 0 10px;
}
