#main .container .header {
  padding: 5px 10px;
  line-height: 36px;
  color: #999999;
  font-size: 12px;
}

#main .container .header a {
  color: #999;
  font-size: 12px;
  margin-right: 5px;
}

#main .container .header span {
  margin-right: 5px;
}

#main .container .header a:hover {
  color: orange;
}

#main .container .header span:hover {
  color: orange;
}

#main .container .selected {
  background-color: #FAFAFA;
  border: 1px solid #E5E5E5;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#main .container .selected li {
  border-bottom: 1px dashed #DDDDDD;
  padding: 0 0 0 30px;
  font-size: 12px;
  line-height: 30px;
}

#main .container .selected li .left {
  color: #000;
  font-weight: bold;
}

#main .container .selected li .right {
  width: 850px;
  color: #5D89CA;
}

#main .container .selected li .right span {
  padding: 5px 10px;
}

#main .container .selected li .right .p_left span {
  font-weight: bold;
}

#main .container .selected li .right .p_right {
  width: 780px;
}

#main .container .selected li .right .p_right span {
  margin-right: 50px;
  white-space: nowrap;
  cursor: pointer;
  padding: 5px 10px;
}

#main .container .selected li .right span:hover {
  text-decoration: underline;
}

#main .container .selected li .right .active {
  color: #fff;
  background-color: red;
}

#main .container .show {
  min-height: 200px;
  border: 1px solid #e1e1e1;
  border-top: 1px solid #A21F24;
}

#main .container .show .top .nav li {
  float: left;
  width: 100px;
  list-style: none;
  border-right: 1px solid #e1e1e1;
  line-height: 30px;
  text-align: center;
  color: #343434;
  font-size: 14px;
}

#main .container .show .top .nav .active {
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  color: #990000;
}

#main .container .show .goodLists {
  border-top: 1px solid #e1e1e1;
  min-height: 200px;
  padding: 5px;
}

#main .container .show .goodLists li {
  float: left;
  width: 240px;
  height: 350px;
}
